/* BASICS */

body {
  color: #001324;
  background-color: #FFFAEF;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  margin-top: 10px;
}

.entry,
.error {
  text-align: center;
}

#root {
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  #root {
    max-width: 70%;
    margin: auto;
  }
}

.container {
  margin: 0 1em;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

h2 {
  margin-top: 10px;
}

p {
  color: #2D006A;
}

a {
  color: #2D006A;
}

a:hover {
  color: #FF00CC;
  text-decoration: none;
}

img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 600px) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
}

button {
  border-style: none;
}

/* NAV BAR */

.navbar {
  background-color: #ddc0d8;
}

.navbar-right {
  padding: 0;
}

.nav.navbar-nav li a,
.navbar-header > a {
  color: #2D006A !important;
}

.nav.navbar-nav li a:hover,
.navbar-header > a:hover {
  color: #FF00CC !important;
}

.navbar-default .navbar-toggle {
  border-color: #2D006A;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2D006A;
}

.navbar-default .navbar-toggle:hover {
  background-color: #f2deee;
}

.navbar-nav {
  margin: 0;
}

/* FOOTER */

footer {
  background-color: #ddc0d8;
  margin-top: 2rem;
}

footer a {
  color: #001324;
  text-decoration: underline;
}

.navbar-static-bottom {
  text-align: center;
}

.footer-text {
  margin: 2rem;
}

/* FRONT PAGE */

.attribution {
  font-size: 0.8em;
  text-align: right;
}

/* ABOUT PAGE */

.portrait {
  margin: 1em auto;
}

@media only screen and (min-width: 600px) {
  .portrait {
    max-width: 60%;
    margin: 2rem auto;
  }
}

/* BOOKS PAGE */

#books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.book {
  border: 1px solid #FF00CC;
  border-radius: 8px;
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  width: 99%;
}

@media only screen and (min-width: 600px) {
  .book {
    width: 48%;
  }
}

@media only screen and (min-width: 960px) {
  .book {
    width: 23%;
  }
}

.book > p {
  margin: 0;
  padding-top: 0.5em;
}

.book > img {
  padding: 0.5em;
}

.booktitle {
  font-style: italic;
  font-weight: bold;
}

.bookyear {
  color: #001324;
}

.book-price {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.main-page {
  background-color: #ddc0d8;
  border-radius: 7px;
  border-style: none;
  color: #2D006A;
  font-weight: bold;
  padding: 0.7em;
  margin: 0.2em;
  margin-left: 0.7em;
}

.main-page:hover {
  color: #FF00CC;
}

.book-in-cart {
  color: black;
  background-color: #f2deee;
  font-style: italic;
}

.book-in-cart:hover {
  color: black;
}

.details-link {
  padding: 0.3em;
}

/* SINGLE BOOK PAGE */

.book-info {
  padding: 0.5em 1em 1.5em 1em;
}

.book-synopsis {
  border: 1px solid #FF00CC;
  border-radius: 8px;
  padding: 1em;
}

@media only screen and (min-width: 600px) {
  .book-info {
    display: inline-block;
    padding: 0.5em 1em 1.5em 1em;
    max-width: 40%;
  }
  .book-synopsis {
    border: 1px solid #FF00CC;
    border-radius: 8px;
    display: inline-block;
    padding: 1em;
    max-width: 60%;
  }
  .single-book {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.book-cover-image {
  margin-bottom: 2em;
}

.book-properties {
  text-align: center;
  font-size: 0.9em;
}

.emphasis {
  color: black;
  font-weight: bold;
}

.add-to-cart {
  background-color: #ddc0d8;
  border-radius: 7px;
  color: black;
  font-weight: bold;
  padding: 0.7em;
  margin: auto 0;
  margin-left: 0.5em;
}

/* CART */

.cart {
  font-size: 0.8em;
  margin-bottom: 2em;
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  .cart {
    font-size: 0.95em;
  }
}

@media only screen and (min-width: 960px) {
  .cart {
    font-size: 1em;
  }
}

.cart-link {
  margin-top: 1.5em;
  text-align: center;
}

.cart-item {
  border-bottom: 1px solid #FF00CC;
}

.cart-item > div {
  display: inline-block;
  margin: 1em 0;
  padding: 0.3em;
  text-align: center;
  vertical-align: middle;
}

.cart-book-cover,
.add-remove {
  width: 20%;
}

.cart-book-name {
  width: 30%;
}

.quantity,
.cart-price {
  width: 15%;
}

.cart-book-name {
  color: #2D006A;
  font-style: italic;
  font-weight: bold;
}

.cart-button {
  background-color: #f2deee;
  border-radius: 8px;
  border-style: none;
  display: block;
  margin: auto;
  padding: 0.5em;
}

.cart-button:hover {
  background-color: #ddc0d8;
  color: #FF00CC;
}

.total {
  text-align: right;
}
